.gradle/
build/
.idea/
*.iml
local.properties

# Big binary assets — fournis par l'utilisateur, pas versionnés
app/src/main/assets/wakeword/*.ppn
app/src/main/assets/vosk-fr/am/
app/src/main/assets/vosk-fr/conf/
app/src/main/assets/vosk-fr/graph/
app/src/main/assets/vosk-fr/ivector/
app/src/main/assets/vosk-fr/rescore/
app/src/main/assets/vosk-fr/rnnlm/
